
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}


header {
  background-color: #2e4d2c;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}


.hero {
  background-image: url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}
footer {
  text-align: center;
  background-color: #2e4d2c;
  color: white;
  padding: 15px;
  margin-top: 20px;
}
